.header {
  position: sticky;
  top: 0;
  color: var(--on-background);
  background-color: var(--background);
}

.container {
  flex-direction: row !important;
  align-items: center;
  gap: .5rem;
  padding: .5rem 0;
}

.spacer {
  flex: 1;
}
