@use "../../utils";

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;

  @each $breakpoint, $width in utils.$breakpoints {
    @include utils.with-breakpoint($breakpoint) {
      width: #{if($width > 0, #{$width - 1}, calc(100% - 1rem))};
    }
  }
}
