@use "modern-normalize";
@use "utils";

:root {
  @include utils.with-colors(light);

  &.dark {
    @include utils.with-colors(dark);
  }

  &:not(.light) {
    @media (prefers-color-scheme: dark) {
      @include utils.with-colors(dark);
    }
  }
}

body {
  color: var(--on-background);
  background-color: var(--background);
  overflow-x: hidden;
  overflow-y: auto;
}

#root {
  display: flex;
  flex-direction: column;
  gap: .5rem;
  min-height: 100dvh;
}

img {
  vertical-align: middle;
}
