@use "modern-normalize";
@use "utils";

:root {
  @include utils.with-colors(light);

  @media (prefers-color-scheme: dark) {
    @include utils.with-colors(dark);
  }
}

body {
  display: flex;
  flex-direction: column;
  gap: .5rem;
  min-height: 100dvh;
  color: var(--on-background);
  background-color: var(--background);
  overflow-x: hidden;
  overflow-y: auto;
}

img {
  vertical-align: middle;
}
