.wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.playlist {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.image {
  width: 3rem;
  height: 3rem;
  background: var(--background) center no-repeat;
  background-size: cover;
  border-radius: .25rem;
}

.text {
  display: flex;
  flex-direction: column;
  gap: .25rem;
}

.subtle {
  color: var(--on-surface-subtle);
}

.selection {
  padding: .25rem .75rem;
  color: var(--on-background);
  background-color: var(--background);
  border-radius: 1000px;
  white-space: nowrap;
  float: right;

  &.selected {
    color: var(--on-accent);
    background-color: var(--accent);
  }
}

.icon {
  margin-right: .25rem;
}
