.playlist {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.image {
  width: 3rem;
  height: 3rem;
  background: var(--background) center no-repeat;
  background-size: cover;
  border-radius: .25rem;
}

.text {
  display: flex;
  flex-direction: column;
  gap: .25rem;
}

.owner {
  color: var(--on-surface-subtle);
}

.selection {
  padding: .25rem;
  color: var(--on-background);
  background-color: var(--background);
  border-radius: .25rem;
  white-space: nowrap;
  float: right;

  &.selected {
    color: var(--on-accent);
    background-color: var(--accent);
  }
}

.icon {
  margin-right: .25rem;
}

.big {
  padding: 1rem 1.25rem !important;
  border-radius: 1000px !important;
  font-size: 1.5rem;

  & svg {
    margin-right: .5rem !important;
  }
}
